<div class="clothes-list">
  {{#each clothList}}
    <div class="clothes-list__cloth-item">
      <img src={{this.itemImg}} alt="" class="cloth-item__img">
      <p class="cloth-item__description">{{this.itemDesc}}</p>
    </div>
  {{/each}}
</div>
