
<div class="clothes-list">
  {{#each clothList}}
    <div class="clothes-list__cloth-item">
      <img src="http://placehold.it/100x100" alt="" class="cloth-item__img">
      <p class="cloth-item__description">{{this.itemDesc}}</p>
      <input class="cloth-item__check-box" type="checkbox" name="name" value="">
    </div>
    {{else}}
      <div class="no-events-conatiner clothes-list">
        <p class="no-events-smiley">:)</p>
        <p class="no-envents-message">Looks like you don't have any events.</p>
        <a href="/addEvents/{{userInfo.username}}" class="no-events-conatiner__add-event">Lets Start by Adding One.</a>
      </div>
    {{/each}}
</div>
