<header>
  <h1 class="header__site-name">
    <a href="/">Stylo</a>
  </h1>
  <div class="header__hamburger-menu">
    <span class="hamburger-menu__line"></span>
    <span class="hamburger-menu__line"></span>
    <span class="hamburger-menu__line"></span>
  </div>
</header>

<div class="menu-container close">
  <div class="menu-container__drawer-menu">

    <span class="drawer-menu__close-btn">&times;</span>

    <ul class="drawer-menu__list">
      <a href="/accountPage">
        <li><i class="fa fa-user" aria-hidden="true"></i>Account</li>
      </a>
      <a href="/manageEvents">
        <li><i class="fa fa-calendar" aria-hidden="true"></i>Manage Events</li>
      </a>
      <a href="/settingPage">
        <li><i class="fa fa-cog" aria-hidden="true"></i>Settings</li>
      </a>
    </ul>

    <div class="drawer-menu__contact-section">
      <div class="contact-section__contact"><a href=""><p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us<p></a></div>
      <div class="contact-section__help"><a href="/faqPage"><p><i class="fa fa-question" aria-hidden="true"></i> FAQ</p></a></div>
    </div>
  </div>
</div>
