$dark-primary-color: #00796B;
$text-icon-color: #fff;
$text-primary-color: #000;
$menu-color: #fff;
$accent-color: #607D8B;
*{

}

a{
  text-decoration: none !important;
  color: $text-primary-color
}
.page-container {
  z-index: 100;
}

/*---------------------STYLING FOR HEADER-----------------------*/
header{
  height: 65px;
  background: $dark-primary-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 -1px 10px #000;
}

.header__site-name{
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: $text-icon-color;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 3px;
  }
}

.header__hamburger-menu{
  width: 35px;
  height: 30px;
}
.hamburger-menu__line{
  display: block;
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: $text-icon-color;
}

/*-------------------STYLING FOR MENU DRAWER--------------------*/
.menu-container{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: rgba(black, .6);
  transition: all 400ms cubic-bezier(0.4, 0.09, 0, 1.3);
  text-align: right;
  &.close{
    margin-left: -103vw;
  }
}
.menu-container__drawer-menu{
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 280px;
  background-color: $menu-color;
  box-shadow: -1px 0 20px #000;
}
.drawer-menu__close-btn{
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-right: 30px;
}
.drawer-menu__list{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-size: 20px;
  & li{
    display: block;
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: thin solid #ccc;
    line-height: 60px;
    i{
      margin-right: 20px;
    }
  }
}
.drawer-menu__contact-section{
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: 0;
  display: flex;
}
.contact-section__help, .contact-section__contact{
  text-align: center;
  width: 50%;
  height: 100%;
  line-height: 65px;
  font-size: 18px;
  font-weight: 500;
  p{
    margin: 0;
  }
  i{
    margin-right: 7px;
  }
}
.contact-section__contact{
  border-right: thin solid #ccc;
}


.calendar-container{
  height: 300px;
}
.calendar-container__toggle{
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .active{
    border-bottom: 5px solid $accent-color;
  }
}

.toggle__calendar,.toggle__events{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  width: 100%;
  height: 100%;
}

.calendar-container .calendar{
  width: 100%;
  height: calc(100% - 45px);
  background: red;
}
.calendar-container .events{
  display: none;
  width: 100%;
  height: calc(100% - 45px);
  background: blue;
}
/*-------------------CLOTHES LIST STYLING--------------------*/
.clothes-list{
  //calculate the height based on the height of header and calendar container
  height: calc(100vh - (300px + 65px ));
  overflow: scroll;
  border-top: 2px solid #ccc;
}
.clothes-list__cloth-item{
  img,p{
    display: block;
  }
  img{
    width: 100px;
    height: 100px;
  }
  p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  border-bottom: thin solid #ccc;
  width: 100vw;
}
