<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    {{> navmenu}}

    <div class="user-info-container">

    </div>

    <p>{{fname}}</p>
    <p>{{lname}}</p>
    <img src={{profileImg}} alt="" />

    <a href="/login"><div class="manage-events-cancel-btn" class="cancel">Logout</div></a>

  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
