<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    {{> navmenu}}

    <form id="event-form">
      <label>Event Title <br><input id="event-title-input" type="text" value=""></label>
      <label>Event Date <br><input id="event-date-input" type="date" value=""></label>
      <label>Event Time <br><input id="event-time-input" type="time" value=""></label>
      <label>Event Description <br><textarea id="event-desc-input" type="text" value=""></textarea></label>
    </form>

    <div class="cancel-submit-container">
      <a href="/loggedin/?user={{userInfo.username}}"><button id="cancel-btn" type="button" name="button">Cancel</button></a>
      <button id="submit-btn" type="button" name="button">Add Event</button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>

  <!-- auto fill the date -->
  <script>
      var today = new Date(); //get the current date
      today.setMinutes(today.getMinutes() - today.getTimezoneOffset()); //account for timezone differences
      today = today.toISOString().substring(0, 10); //reformat the string to match our data.json
      document.getElementById('event-date-input').value = today;
  </script>

    <!-- Google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87906372-1', 'auto');
        ga('send', 'pageview');
    </script>



</body>
</html>
