<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    {{> navmenu}}

    <div class="faq">
        <h1>
            Frequently Asked Questions
        </h1>

        <ul class="faq__qas">
            <li class="faq__qas-question">
                <b>Q: </b> What is Stylo?
            </li>
            <li class="faq__qas-answer">
                <b>A: </b>Stylo is a day planner app and more!
            </li>

            <br>
            <br>

            <li class="faq__qas-question">
                <b>Q: </b> How do I add an event?
            </li>
            <li class="faq__qas-answer">
                <b>A: </b>Simply click on the + button on the Home page to add an event.
            </li>
        </ul>
    </div>

    <a href="javascript:history.back()"><div class="manage-events-cancel-btn" class="cancel">Back</div></a>

  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
