<!doctype html>

<html>
<head>
	<title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<div class="page-container">
		<header>
			<h1 class="header__title">Stylo</h1>
			<a href="Menu.html"><div class="header__menu-toggle">
				<span class="menu-toggle__divider"></span>
				<span class="menu-toggle__divider"></span>
				<span class="menu-toggle__divider"></span>
			</div></a>
		</header>

		<section class="calendar-weather">
			<iframe src="https://calendar.google.com/calendar/embed?src=c3o2gjngad6iavr1uiktg968lk%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0; width:100%; height:250px;" frameborder="0" scrolling="no"></iframe>

			<a href="Add_Event.html"><div class="calendar-weather--add-event-btn">
				<p class="add-event-btn__btn-text">Add Event <i class="fa fa-plus-circle" aria-hidden="true"></i></p>
			</div></a>
		</section>

		<section class="item-menu">

			<a href="Large_Item_List.html"><div class="item-menu__item">
				<img src="http://placehold.it/100x100" alt="" class="item__img">
				<p class="item-description">Plain Grey T-Shirt</p>
			</div></a>

			<a href="Large_Item_List.html"><div class="item-menu__item">
				<img src="http://placehold.it/100x100" alt="" class="item__img">
				<p class="item-description">Black Hoodie</p>
			</div></a>

			<a href="Large_Item_List.html"><div class="item-menu__item">
				<img src="http://placehold.it/100x100" alt="" class="item__img">
				<p class="item-description">Blue Skinny Jeans</p>
			</div></a>
		</section>

		<a href="Large_Item_List.html"><div class="item-menu__show-more-btn">
			<span class="show-more-btn-up">
				<i class="fa fa-chevron-up" aria-hidden="true"></i>
			</span>
		</div></a>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
