<!doctype html>

<html>
<head>
	<title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<div class="page-container">

		{{> navmenu}}
		<div class="cloth-events-container">
			<div class="cloth-events-container__clothes">
				<h4>Daily Brief</h4>
				<div class="cloth-event-container__title--small-text">Hey <b>{{userInfo.fname}}</b>, it looks like it'll be <b>{{weather.daily.data.0.summary}}</b> Here are your suggestions for what to bring today.</div>
				{{> hompage-clothes}}
			</div>

			<div class="cloth-events-container__events" style="display:none">
				<div class="cloth-event-container__title">Today's Events</div>

				<!--TODO: for each event, only display ones happening today  -->
				{{> events}}
			</div>
		</div>

		<div class="footer-navigation">
			<div class="footer-navigation__clothes active"><i class="fa fa-suitcase" aria-hidden="true"> items</i></div>
			<div class="footer-navigation__event-list"><i class="fa fa-list" aria-hidden="true"> today's events</i></div>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
