<!doctype html>

<html>
<head>
	<title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<div class="page-container">

		<header>
			<h1 class="header__site-name">
				<a href="/">Stylo</a>
			</h1>
			<div class="header__hamburger-menu">
				<span class="hamburger-menu__line"></span>
				<span class="hamburger-menu__line"></span>
				<span class="hamburger-menu__line"></span>
			</div>
		</header>

		<div class="menu-container close">
			<div class="menu-container__drawer-menu">

				<span class="drawer-menu__close-btn">&times;</span>

				<ul class="drawer-menu__list">
					<a href="">
						<li><i class="fa fa-user" aria-hidden="true"></i>Account</li>
					</a>
					<a href="">
						<li><i class="fa fa-calendar" aria-hidden="true"></i>Manage Events</li>
					</a>
					<a href="">
						<li><i class="fa fa-cog" aria-hidden="true"></i>Settings</li>
					</a>
				</ul>

				<div class="drawer-menu__contact-section">
					<div class="contact-section__contact"><a href=""><p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us<p></a></div>
					<div class="contact-section__help"><a href=""><p><i class="fa fa-question" aria-hidden="true"></i> FAQ</p></a></div>
				</div>
			</div>
		</div>

		<div class="add-event-btn">&plus;</div>

		<div class="calendar-container">
			<div class="calendar-container__toggle">
				<div class="toggle__calendar active">Calendar</div>
				<div class="toggle__events">Today's Events</div>
			</div>
			{{> calendar}}
			{{> events}}
		</div>
		{{> hompage-clothes}}
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
