<!doctype html>

<html>
<head>
	<title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>

<body>
	<div class="page-container">

		{{> navmenu}}
		<div class="cloth-events-container">
			<div class="cloth-events-container__clothes">
				<h4>Daily Brief</h4>
				<div class="cloth-event-container__title--small-text">Hey <b>{{userInfo.fname}}</b>, it looks like it'll be <b>{{weather.daily.data.0.summary}}</b> Here are suggestions of what to bring today:</div>
				{{> hompage-clothes}}
			</div>

			<div class="cloth-events-container__events" style="display:none">
				<div class="cloth-event-container__title">Today's Events</div>

				<!--TODO: for each event, only display ones happening today  -->
				{{> events}}
			</div>
		</div>

		<div class="footer-navigation">
			<div class="footer-navigation__clothes active"><i class="fa fa-suitcase" aria-hidden="true"></i>Items</div>
			<div class="footer-navigation__event-list"><i class="fa fa-list" aria-hidden="true"></i>Today's Events</div>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js" charset="utf-8"></script>

	<!-- Script to keep user on event list or clothes after leaving page -->
	<script>
	if(typeof(Storage) !== "undefined") {
		if( sessionStorage.isEvents == "true" ) {
			$(".footer-navigation__clothes").removeClass('active');
			$(".cloth-events-container__clothes").hide();
			$(".footer-navigation__event-list").addClass('active');
			$(".cloth-events-container__events").show();
			console.log( "Displaying event list!");
		}
		else {
			$(".footer-navigation__event-list").removeClass('active');
			$(".cloth-events-container__events").hide();
			$(".footer-navigation__clothes").addClass('active');
			$(".cloth-events-container__clothes").show();
			console.log( "Displaying clothes!");
		}

		console.log( "sessionStorage.isEvents when page loaded is " + sessionStorage.isEvents);
	}
	else {
		sessionStorage.isEvents = false;
	}
	</script>
</body>
</html>
