<!doctype html>

<html>
<head>
	<title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<div class="page-container">

		{{> navmenu}}

		<a href="/addEvents"><div class="add-event-btn">&plus;</div></a>


		<div class="calendar-container">
			<div class="calendar-container__toggle">
				<div class="toggle__calendar active">Calendar</div>
				<div class="toggle__events">Today's Events</div>
			</div>
			{{> calendar}}
			{{> events}}
		</div>
		{{> hompage-clothes}}
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
