<!DOCTYPE html>
<html>
<style>

</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css" media="screen" title="no title">
</head>

<body>
	<div class="page-container">
		<div class="login-container">
			<h1 class="login-container-title">Stylo</h1>
			<div class="login-container-bg"></div>
			<div class="login-container-input">
				<label class="login-container-input__username">Username: <br>
					<input type="text" id="login-username">
				</label>
				<label class="login-container-input__password">Password: <br>
					<input type="password" id="login-password">
				</label>

				<button type="button" class="button" id="tologin">Login</button>
				<a href="/register" id="toreg">New User? Register Here</a>
			</div>
		</div>
	</div>
	<!-- end page-Container -->
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/js/index.js" charset="utf-8"></script>
</html
