a {
  text-decoration: none !important;
  color: #000; }

.page-container {
  z-index: 100; }

/*---------------------STYLING FOR HEADER-----------------------*/
header {
  height: 65px;
  background: #00796B;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 -1px 10px #000; }

.header__site-name {
  margin: 0;
  padding: 0; }
  .header__site-name a {
    text-decoration: none;
    color: #fff;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 3px; }

.header__hamburger-menu {
  width: 35px;
  height: 30px; }

.hamburger-menu__line {
  display: block;
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #fff; }

/*-------------------STYLING FOR MENU DRAWER--------------------*/
.menu-container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  text-align: right; }
  .menu-container.close {
    margin-left: -103vw; }

.menu-container__drawer-menu {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 280px;
  background-color: #fff;
  box-shadow: -1px 0 20px #000; }

.drawer-menu__close-btn {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-right: 30px; }

.drawer-menu__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-size: 20px; }
  .drawer-menu__list li {
    display: block;
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: thin solid #ccc;
    line-height: 60px; }
    .drawer-menu__list li i {
      margin-right: 20px; }

.drawer-menu__contact-section {
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: 0;
  display: flex; }

.contact-section__help, .contact-section__contact {
  text-align: center;
  width: 50%;
  height: 100%;
  line-height: 65px;
  font-size: 18px;
  font-weight: 500; }
  .contact-section__help p, .contact-section__contact p {
    margin: 0; }
  .contact-section__help i, .contact-section__contact i {
    margin-right: 7px; }

.contact-section__contact {
  border-right: thin solid #ccc; }

.add-event-btn {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #00796B;
  position: absolute;
  bottom: 40px;
  right: 30px;
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 1;
  box-shadow: 1px 2px 10px #000;
  text-shadow: 1px 1px 3px #000; }

/*-----------STYLING FOR CALENDAR & EVENTS----------*/
.calendar-container {
  height: 300px; }

.calendar-container__toggle {
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .calendar-container__toggle .active {
    border-bottom: 5px solid #607D8B; }

.toggle__calendar, .toggle__events {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  width: 100%;
  height: 100%; }

.calendar-container .calendar, .calendar-container .events {
  width: 100%;
  height: calc(100% - 45px); }

.calendar-container .calendar {
  background: #bababa; }

.calendar-container .events {
  display: none;
  overflow: scroll; }

.events__event-item {
  border: thin solid #ccc;
  padding: 20px; }

.event-item__date-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px; }

.event-item__date {
  border-bottom: thin solid #ccc; }

.event-item__description {
  font-size: 16px; }

.no-events-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #CFD8DC; }

.no-events-smiley {
  font-size: 35px;
  font-weight: 500; }

.no-envents-message {
  font-size: 18px; }

/*-------------------CLOTHES LIST STYLING--------------------*/
.clothes-list {
  height: calc(100vh - (300px + 65px ));
  overflow: scroll;
  border-top: 2px solid #ccc; }

.clothes-list__cloth-item {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  border-bottom: thin solid #ccc;
  width: 100vw; }
  .clothes-list__cloth-item img, .clothes-list__cloth-item p {
    display: block; }
  .clothes-list__cloth-item img {
    width: 100px;
    height: 100px; }
  .clothes-list__cloth-item p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold; }

/*---------ADD EVENT PAGE STYLING--------*/
#event-form {
  padding: 20px; }
  #event-form label {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px; }
  #event-form input, #event-form textarea {
    display: inline-block;
    border: thin solid #ccc;
    width: 100%;
    height: 50px;
    margin: 5px 0; }
  #event-form textarea {
    resize: none;
    height: 100px; }

.cancel-submit-container {
  position: absolute;
  top: 87vh;
  display: flex;
  justify-content: space-around;
  width: 100%; }

#cancel-btn, #submit-btn {
  color: #fff;
  font-size: 18px;
  background: #00796B;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0px 1px 5px #000; }

#cancel-btn {
  background: #607D8B; }

/*# sourceMappingURL=main.css.map */
