a {
  text-decoration: none;
  color: #000; }

.page-container {
  z-index: 100; }

.login-container {
  text-align: center; }

.login-container-title {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }

.login-container-bg {
  width: 100%;
  height: 100vh;
  background-image: url("/images/login-bg.jpeg");
  filter: blur(3px) grayscale(1);
  background-position: center;
  background-size: cover; }

.login-container-input {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 350px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding-top: 20px;
  border-radius: 2px; }

.login-container-input__username, .login-container-input__password {
  width: 100%;
  font-size: 16px;
  font-weight: 400; }
  .login-container-input__username input, .login-container-input__password input {
    width: 90%;
    height: 30px;
    border-radius: 2px;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px; }

.login-container-input #tologin {
  display: block;
  background: #00796B;
  border: none;
  width: 130px;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  color: #fff;
  font-size: 16px; }

.login-container-input #toreg {
  font-size: 14px;
  text-decoration: underline; }

/*------------------STYLING FOR REGISTER PAGE-------------------*/
.register-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .register-header a {
    font-size: 24px;
    color: #00796B;
    margin-left: 10px; }
  .register-header p {
    color: #00796B;
    font-family: 'Fugaz One', cursive;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 20px; }

.reg-info_form {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500; }

.reg-info__form__input {
  width: 90%;
  height: 30px;
  border: thin solid #ccc;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px; }

#reg-submit {
  background: #00796B;
  border: none;
  width: 130px;
  height: 40px;
  margin: 40px auto;
  border-radius: 5px;
  color: #fff;
  font-size: 16px; }

/*---------------------STYLING FOR HEADER-----------------------*/
header {
  height: 65px;
  background: #00796B;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 -1px 10px #000; }

.header__site-name {
  margin: 0;
  padding: 0; }
  .header__site-name a {
    text-decoration: none;
    color: #fff;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 3px; }

.header__hamburger-menu {
  width: 35px;
  height: 30px; }

.hamburger-menu__line {
  display: block;
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #fff; }

/*-------------------STYLING FOR MENU DRAWER--------------------*/
.menu-container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  text-align: right; }
  .menu-container.close {
    margin-left: -103vw; }

.menu-container__drawer-menu {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 280px;
  background-color: #fff;
  box-shadow: -1px 0 20px #000; }

.drawer-menu__close-btn {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-right: 30px; }

.drawer-menu__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-size: 20px; }
  .drawer-menu__list li {
    display: block;
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: thin solid #ccc;
    line-height: 60px; }
    .drawer-menu__list li i {
      margin-right: 20px; }

.drawer-menu__contact-section {
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: 0;
  display: flex; }

.contact-section__help, .contact-section__contact {
  text-align: center;
  width: 50%;
  height: 100%;
  line-height: 65px;
  font-size: 18px;
  font-weight: 500; }
  .contact-section__help p, .contact-section__contact p {
    margin: 0; }
  .contact-section__help i, .contact-section__contact i {
    margin-right: 7px; }

.contact-section__contact {
  border-right: thin solid #ccc; }

/*-----------STYLING FOR CLOTHING & EVENTS----------*/
.no-events-conatiner {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 100vw;
  transform: translate(-50%, -50%);
  font-size: 18px; }

.no-events-smiley {
  font-size: 32px;
  font-weight: bold; }

.no-events-conatiner__add-event {
  font-size: 16px;
  color: #607D8B; }

.no-events-conatiner.clothes-list {
  top: 50%; }

.footer-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: thin solid #ccc; }

.footer-navigation__clothes, .footer-navigation__event-list {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-family: sans-serif; }
  .footer-navigation__clothes i, .footer-navigation__event-list i {
    font-size: 20px;
    margin-right: 5px; }
  .footer-navigation__clothes.active, .footer-navigation__event-list.active {
    background: #00796B;
    color: white; }

.cloth-events-container {
  height: calc(100vh - 65px - 40px);
  overflow: scroll;
  background: #fcfcfc;
  text-align: center; }

.cloth-events-container__clothes h4 {
  border-bottom: thin solid #ccc;
  padding-bottom: 5px; }

.cloth-event-container__title--small-text {
  font-size: 16px;
  margin: 10px 0;
  border-bottom: thin solid #ccc;
  padding-bottom: 5px; }

.cloth-event-container__title {
  font-weight: 500;
  font-size: 24px;
  padding: 3px;
  margin: 10px 0; }

.clothes-list, .events {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cloth-item__img {
  width: 100px;
  height: 100px; }

.clothes-list__cloth-item, .events__event-item {
  background: #fff;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid #ccc;
  box-shadow: 0px 2px 10px #e4e4e4; }

.cloth-item__description {
  word-break: break-all;
  margin: 0;
  font-size: 18px; }

input[type="checkbox"].cloth-item__check-box {
  display: block;
  margin-top: 0;
  margin-right: 10px;
  width: 25px;
  height: 25px; }

/*-------------------EVENT LIST STYLING--------------------*/
.add-event-btn {
  border-radius: 100%;
  width: 55px;
  height: 55px;
  background-color: #00796B;
  position: absolute;
  bottom: 70px;
  right: 25px;
  text-align: center;
  color: white;
  font-size: 45px;
  line-height: 1;
  box-shadow: 1px 2px 10px #000;
  text-shadow: 1px 1px 3px #000; }

.events__event-item {
  display: block;
  text-align: left; }

.event-item__delete {
  font-size: 20px;
  text-align: right;
  margin-right: 5px; }

.event-item__summary {
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: thin solid #ccc;
  padding-bottom: 2px; }

.event-item__date-title-container span {
  font-weight: 500; }
.event-item__date-title-container .event-item__date, .event-item__date-title-container .event-item__time {
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px; }

.event-item__description {
  border-top: thin solid #ccc;
  padding-top: 10px;
  word-break: break-all;
  font-size: 16px; }

/*---------ADD EVENT PAGE STYLING--------*/
#event-form {
  padding: 20px; }
  #event-form label {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px; }
  #event-form input, #event-form textarea {
    display: inline-block;
    border: thin solid #ccc;
    width: 100%;
    height: 50px;
    margin: 5px 0; }
  #event-form textarea {
    resize: none;
    height: 100px; }

.cancel-submit-container {
  position: absolute;
  top: 87vh;
  display: flex;
  justify-content: space-around;
  width: 100%; }

#cancel-btn, #submit-btn {
  color: #fff;
  font-size: 18px;
  background: #00796B;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0px 1px 5px #000; }

#cancel-btn {
  background: #607D8B; }

/*----------MANAGE EVENTS CONTAINER---------------*/
.back-finish-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 40px; }

.back-finish-container__back, .back-finish-container__finish {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0px 1px 5px #000;
  text-align: center; }

.back-finish-container__back {
  background-color: #607D8B; }

.back-finish-container__finish {
  background-color: #00796B; }

.manage-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 150px);
  overflow: scroll;
  padding-bottom: 300px; }

.manage-events-container__title {
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 3px;
  margin: 10px 0; }

.event-item-edit-delete {
  display: flex;
  justify-content: space-around; }

.event-item-edit-delete__edit, .event-item-edit-delete__delete {
  height: 40px;
  width: 140px;
  border-radius: 8px;
  margin-top: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff; }

.event-item-edit-delete__edit {
  background: #CFD8DC;
  color: #000; }

.event-item-edit-delete__delete {
  background-color: #cf4831; }

/*------------ACCOUNT PAGE STYLING-----------------*/
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-info-container h2 {
    margin-left: 5px; }

.user-info-container__profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%; }

.user-info-container__user-info {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500; }

.edit-user-info-container {
  border-top: thin solid #ccc;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .edit-user-info-container label {
    width: 100%;
    text-align: center; }
  .edit-user-info-container input {
    width: 90%;
    height: 30px;
    border: thin solid #ccc;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    padding-left: 5px; }

/*---------FAQ PAGE STYLING--------*/
.faq h1 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.faq__qas {
  list-style-type: none;
  width: 95%; }

.faq__qas-question {
  font-size: 20px; }

.faq_qas-answer {
  font-size: 14px;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
